setuptools==44.1.1
Flask==1.1.4
Flask-Bootstrap==3.3.7.1
Jinja2==2.11.3
numpy==1.16.6
opencv-python==4.2.0.32
MarkupSafe==1.1.1
PyMySQL==1.0.0
pytz==2020.1
imutils==0.5.4
scikit-build==0.14.1
cmake==3.22.4
pymongo==4.1.1
